<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="app">
        <%- include('./header') %>
        <div class="content">
            <h1>
                Effortlessly manage and track your 
                inventory with our user-friendly application, 
                designed to streamline stock control, optimize 
                order processes, and provide real-time insights 
                into product availability and performance.
            </h1>
            <p>Note: I mainly focussed on functionality so it is not containing styles</p>
        </div>
    </div>
</body>
</html>